html, body{
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    background-color: #23022E;
    font-family: 'Varela Round', sans-serif;
    visibility: hidden;
}

a {
    color: #ADA8B6;
    text-decoration: none;
}

.arrow {
    color: yellowgreen;
    font-size: 20px;
}

.navigation {
    color: #ADA8B6;
    height: 50px;
}

.navigation ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    height: 50px;
    font-size: 18px;
}

.navigation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
}

.navigation li.icon {
	display: none;
}

.intro_text {
    color: yellowgreen;
    font-family: 'Dancing Script', cursive;
   
}

.intro_text span {
    display: block;
    font-size: 60px;
    margin-top: 10px;
    color: #ADA8B6
}

.intro_text div {
    display: inline-block;
    height: 650px;
}

.profile_photo {
    width: 45%;
    text-align: center;
}

.profile_photo img {
    width: 400px;
    border-radius: 400px;
    margin-top: 150px;
    margin-left: 240px;
}

.profile_description {
    width: 55%;
    vertical-align: top;
    padding-top: 160px;
    
}

.profile_description h1 {
    font-size: 115px;
    line-height: 70px;
   
}

.profile_description h2 {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    color: #ADA8B6;
    margin-top: -60px;
}

.cv-pic {
    width: 450px;
    float: right;
    margin-top: 30px;
}

.main {
    font-size: 24px;
    color: #ADA8B6;
    padding: 40px 20% 80px 20%; 
    
}

.main p {
    text-align: left;
    line-height: 36px;
}

.main h1 {
    color: yellowgreen;
    font-size: 44px;
}

.main h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #EFF8E2;
    margin-top: 80px;
}

.main h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: yellowgreen;
    
}

.bread {
    list-style: none;
    padding-left: 0;
    color: #ADA8B6;
    font-size: 16px;
}

.bread li {
    display: inline-block;
}

.contact-title {
    padding-top: 10%
}

.contact-email {
    padding-top: 1%;
}

.contact-social {
    padding-top: 2%;
}

.social-img {
    width: 32px;
}

.miniature {
    width: 320px;
    height: 213px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: contain;
    background-color: #EFF8E2;
    overflow: hidden;
    
}

.miniature a {
    text-decoration: none;
}

.blackbox {
    width: 100%;
    height: 100%;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: black;
    opacity: 0;
}

.blackbox:hover {
    opacity: 0.9;
}

.blackbox-text {
    text-align: center;
    padding-top: 90px
}

.blackbox-text h1{
    font-size: 16px;
    color: yellowgreen;
    text-transform: uppercase;
    margin: 0;
}

.blackbox-text h2{
    font-size: 12px;
    color: #EFF8E2;
    font-weight: 100;
    margin: 0;

}

.photoworks {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.gamegif {
    width:100%;
    height:100%;
    display: inline-block;
}

@media (max-width:1600px) {
    .profile_photo img{
        margin-left: 10px;
       
    }
} 

@media (max-width:1023px) {

    header {
        height: auto;
    }

    p, hr {
        margin-right: 0px;
    }

    .navigation li {
        display: none;
        height: 60px;
    }

    .navigation li.icon {
        padding-top: 15px;
        font-size: 36px;
        display: inline-block;
    }

    .navigation li.icon:hover {
       color: yellowgreen;
       cursor: pointer;
    }

    .intro_text div {
        height: auto;
    }

    .profile_photo {
        height: 220px;
        width: 100%;
        padding: 0;
        margin: 0;
         margin-top: 60px;
    }

    .profile_photo img {
        margin-top: 0;
        max-width: 80%;
        margin-left: 0;
    }

    .profile_description {
        width: 100%;
        padding-top: 0;
        margin-top: 5;
    }

    .profile_description span{
        font-size: 40px;
        margin-top: -5px;
    }

    .profile_description h1{
        text-align: center; 
        font-size: 80px;
        margin-left: 20px;
        margin-right: 20px;

    }

    .profile_description h2 {
        text-align: center;
        margin-top: -40px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }

    .main {
        padding: 10px 5% 40px 5%; 
        
    }

    .main p {
        line-height: 40px;
    }

    .main hr{
        margin-left: 0px;
    }

    .cv-pic {
        max-width: 100%;
        float: none;
    }

    .miniature {
       
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 15px;
        background-size: auto 100%;
        background-color: #EFF8E2;
        
    }

    .blackbox {
        opacity: 0.9;
    }

    .photoworks img {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .mobilemenu {
        height: auto;
    }

    .mobilemenu ul {
        height: auto;
        text-align: center;
        padding-right: 15%;
        padding-left: 15%;
    }

    .mobilemenu li {
        display: block;
        border-bottom: solid grey 1px;
        width: 100%;
        padding: 0;
    }

}